- @title = 'ログイン'
= form_for @form, url: :customer_session do |f|
  .form-group.py-2
    = f.label :email, 'Email', class: 'bmd-label-floating'
    = f.email_field :email, class: 'form-control', placeholder: 'メールアドレスを入力'
  .form-group.py-2
    = f.label :password, 'Password', class: 'bmd-label-floating'
    = f.password_field :password, class: 'form-control', placeholder: 'パスワードを入力'
  = f.submit 'ログイン', class: 'my-3 btn btn-raised btn-info'
