- @title = 'パスワード変更'
%h1.title= @title

.generic_form
  = form_for @change_password_form, url: staff_password_path, method: :patch do |f|
    = markup do |m|
      - form_presenter = FormPresenter.new(f, self)
      - form_presenter.with_options(required: true, size: 32) do |option_form|
        - m << option_form.password_field_block(:current_password, '現在のパスワード', placeholder: 'Your current password')
        - m << option_form.password_field_block(:new_password, '新しいパスワード', placeholder: 'Your new password')
        - m << option_form.password_field_block(:new_password_confirmation, '新しいパスワード(確認)', placeholder: 'Your new password')
    .generic_form-input
      = link_to 'キャンセル', staff_account_path, class: 'generic_form-input-cancel'
      = f.submit '変更'
