- form_presenter = StaffMemberFormPresenter.new(f, self)

= form_presenter.notes

= form_presenter.text_field_block(:email, 'メールアドレス', size: 32, placeholder: 'Your email', required: true)

= form_presenter.password_field_block(:password, 'パスワード', size: 32, placeholder: 'Your password', required: true)

= form_presenter.full_name_block(:family_name, :given_name, '氏名', required: true, class: 'name')

= form_presenter.full_name_block(:family_name_kana, :given_name_kana, 'フリガナ', required: true, class: 'name')

= form_presenter.date_field_block(:start_date, '開始日', required: true)

= form_presenter.date_field_block(:end_date, '終了日')

= form_presenter.check_box_block
