- form_presenter = StaffMemberFormPresenter.new(f, self)

.notes
  %span.mark *
  印のついた項目は入力必須です

.generic_form-input
  = f.label :email, 'メールアドレス', class: 'required'
  = f.text_field :email, size: 32, required: true, placeholder: 'Your email'

- if f.object.new_record?
  .generic_form-input
    = f.label :password, 'パスワード', class: 'required'
    = f.password_field :password, size: 32, required: true, placeholder: 'Your password'

= form_presenter.full_name_block(:family_name, :given_name, '氏名', required: true, class: 'name')
= form_presenter.full_name_block(:family_name_kana, :given_name_kana, 'フリガナ', required: true, class: 'name')

.generic_form-input
  = f.label :start_date, '開始日', class: 'required'
  = f.text_field :start_date, required: true

.generic_form-input
  = f.label :end_date, '終了日'
  = f.text_field :end_date

.generic_form-input
  = f.check_box :suspended
  = f.label :suspended, 'アカウント停止'
