- @title = '職員管理画面'
%h1.title= @title

.table-wrapper
  .links
    = link_to '新規登録', new_admin_staff_member_path
  %table.staff-members
    %tr.staff-members_column
      %th 氏名
      %th フリガナ
      %th メールアドレス
      %th 開始日
      %th 終了日
      %th 状態
      %th アクション

    - @staff_members.each do |staff_member|
      %tr.staff-members_data
        %td= "#{staff_member.family_name} #{staff_member.given_name}"
        %td= "#{staff_member.family_name_kana} #{staff_member.given_name_kana}"
        %td= staff_member.email
        %td= staff_member.start_date
        %td= staff_member.end_date
        %td= staff_member.suspended ? '停止中' : ''
        %td.staff-members_data_actions
          = link_to '編集', edit_admin_staff_member_path(staff_member), class: 'staff-members_data_actions-edit'
          = link_to '削除', admin_staff_member_path(staff_member), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'staff-members_data_actions-delete'
