%fieldset.form-group
  %legend.text-center 基本情報
  = render 'customer_fields', f: f

.form-check.text-center.mt-5
  = f.check_box :inputs_home_address, class: 'form-check-input'
  = f.label :inputs_home_address, '自宅住所を入力する', class: 'form-check-label'

%fieldset#home-address-fields.form-group
  %legend.text-center 自宅住所
  = render 'home_address_fields', f: f

.form-check.text-center.mt-5
  = f.check_box :inputs_work_address, class: 'form-check-input'
  = f.label :inputs_work_address, '勤務先を入力する', class: 'form-check-label'

%fieldset#work-address-fields.form-group
  %legend.text-center 勤務先
  = render 'work_address_fields', f: f
